
.green-background {
  background-color: green;
}

.yellow-background {
  background-color: yellow;
}

.red-background {
  background-color: red;
}

.initial-showing {
  display: none;
  width:80%;
  margin:auto;
}
.hover{
  color:red;
}
img{
  position:absolute;
  /* transform:translate(-50%); */
  /* transition:bottom 1s, left 1s; */
}
#walrus{
  width:auto;
  height:40%;
  left:50%;
  bottom:20%;
}
#umbrella{
  width:auto;
  height:70%;
  left:65%;
  bottom:20%;
  transform: translateY(0) rotate(8deg);
}

body{
  /* background-color: black; */
  color:white;
}

p {
  cursor: pointer;
  color: #0088cc;
}

p:hover {
  text-decoration: underline;
}

