
.green-background {
  background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
              linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
              linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
}

.yellow-background {
  background: linear-gradient(0.25turn, #3fa697, #ebf8e1, #f6cb3c);
}

.red-background {
  background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f65e3c);
}

.initial-showing {
  display: none;
  width:80%;
  margin:auto;
}
.hover{
  color:red;
}
img{
  position:absolute;
  /* transform:translate(-50%); */
  /* transition:bottom 1s, left 1s; */
}
#walrus{
  width:auto;
  height:40%;
  left:50%;
  bottom:20%;
}
#umbrella{
  width:auto;
  height:70%;
  left:65%;
  bottom:20%;
  transform: translateY(0) rotate(8deg);
}

body{
  color:rgb(85, 78, 78);
  padding: 20%;
}

p {
  cursor: pointer;
  color: #0088cc;
}

p:hover {
  text-decoration: underline;
}

